<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="flex w-full max-w-4xl">
    <!-- Form Container -->
    <div class="bg-white p-8 rounded shadow-md w-1/2">
      <div class="w-1/6">
        <img src="../../assets/san-marco.jpg" alt="Descriptive Alt Text" class="object-cover h-full w-full rounded-r">
      </div>

      <h1 class="text-2xl font-bold mb-4">Forgot Password</h1>

      <div *ngIf="error" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
        <p>{{ error }}</p>
      </div>

      <h3 class="text-lg font-bold mb-4">Do not worry, we will send you reset instructions</h3>

      <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <mat-form-field appearance="outline">
            <input matInput formControlName="email" placeholder="Email" class="mt-1 p-2 w-full border rounded" trimWhiteSpace/>
            <mat-error *ngIf="controlHasError('required', 'email')">
              Please enter email
            </mat-error>
          </mat-form-field>
        </div>

        <div class="bg-yellow-500 text-gray-700 p-4 flex items-center">
          <mat-icon class="ficon mr-5">info</mat-icon>
          <span>We can't seem to find the right email address for you, resend the email that you have registered!</span>
        </div>
        <button mat-button (click)="openNotifyDialog()" type="submit" class="w-full bg-blue-500 text-white p-2 rounded mt-4">Reset Password</button>
      </form>

      <div class="mt-4">
        <a routerLink="/auth/register" class="text-blue-500">Don't have an account? Register now!</a>
      </div>

      <h4 class="text-sm mt-4">hcd&#64;message.com</h4>
    </div>
    <!-- Image Container -->
    <div class="w-1/2">
      <img src="../../assets/san-marco.jpg" alt="Descriptive Alt Text" class="object-cover h-full w-full rounded-r">
    </div>
  </div>
</div>