:root {
  --cropper-outline-color: rgba(255, 255, 255, 0.7);
}

$color-primary: var(--primary-color);
$color-hover-primary: var(--primary-hover-color);
$color-secondary: var(--secondary-color);
$color-danger: var(--danger-color);
$color-background: var(--background-color);
$color-text: var(--text-color);
$color-card: var(--card-color);