<div class="friend-list-container card">
    <div class="flex flex-col">
        <div class="m-3">
            <div class="heading-primary px-3">IMaTalk</div>
            <h1>Messages (29)</h1>
            <form >
                <mat-form-field appearance="outline" class="mt-8">
                    <input matInput type="text" placeholder="Search">
                    <button matSuffix mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div>

        <div class="m-3">
            <h2>All Messages</h2>
            <div class="friend-messages flex flex-col mt-3 pr-1 overflow-y-scroll"
                 infiniteScroll
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="300"
                 (scrolled)="onScroll()">
                <div class="friend-message flex items-center justify-between" *ngFor="let message of messages, first as first">
                    <div class="message-info flex items-center mt-5">
                        <app-user-avatar></app-user-avatar>
                        <div class="user-info flex flex-col ml-3">
                            <span>Leslie Alexander</span>
                            <span>{{message}} · 2h</span>
                        </div>
                    </div>
                    <div class="message-time flex flex-col items-center justify-center">
                        <span class="mb-2">14:15</span>
                        <div class="message-badge rounded-full flex items-center justify-center">
                            1
                        </div>
                    </div>     
                </div>
            </div>
        </div>
    </div>
</div>