@import "./variables.scss";

.btn {
    border-radius: 23px;
    padding: 4px 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
}

.btn-primary {
    background-color: $color-primary;
    border: none;
    letter-spacing: 0px;
}

.btn-primary:hover {

}

.btn-secondary {
    background-color: var(--color-secondary);
}