<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="flex w-full max-w-4xl">
    <!-- Form Container -->
    <div class="bg-white p-8 rounded shadow-md w-1/2">
      <div class="w-1/6">
        <img src="../../assets/san-marco.jpg" alt="Descriptive Alt Text" class="object-cover h-full w-full rounded-r">
      </div>

      <h1 class="text-2xl font-bold mb-4">Create an account</h1>

      <h3 class="text-lg font-bold mb-4">Sign up now and unlock exclusive access!</h3>

      <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <mat-form-field appearance="outline">
            <input matInput formControlName="username" placeholder="Username" class="mt-1 p-2 w-full border rounded" trimWhiteSpace/>
            <mat-error *ngIf="controlHasError('required', 'username')">
              Please enter username
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mb-4">
          <mat-form-field appearance="outline">
            <input matInput type="password" formControlName="password" placeholder="Password" class="mt-1 p-2 w-full border rounded" trimWhiteSpace/>
            <mat-error *ngIf="controlHasError('required', 'password')">
              Please enter password
            </mat-error>
          </mat-form-field>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded">Login</button>
      </form>

      <div class="mt-4">
        <a routerLink="/auth/register" class="text-blue-500">Don't have an account? Register now!</a>
      </div>

      <h4 class="text-sm mt-4">hcd&#64;message.com</h4>
    </div>
    <!-- Image Container -->
    <div class="w-1/2">
      <img src="../../assets/san-marco.jpg" alt="Descriptive Alt Text" class="object-cover h-full w-full rounded-r">
    </div>
  </div>
</div>