@import "../../../../shared/styles/variables.scss";

:host {
  .aside-container {
    width: 80px;
    background-color: rgb(4, 4, 4) !important;
    height: calc(100vh - 32px);
    flex: 1;

    mat-icon {
      color: #776f6c; 
      font-size: 18px; 
    }
  }

 

  .nav {
    margin-top: 70px;

    .active-link {
      background-color: #4a5568; 
      mat-icon {
        color: white;
      }
    }
  }
}
