
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Chat-primary: mat.define-palette(mat.$indigo-palette);
$Chat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Chat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Chat-theme: mat.define-light-theme((
  color: (
    primary: $Chat-primary,
    accent: $Chat-accent,
    warn: $Chat-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Chat-theme);

/* You can add global styles to this file, and also import other style files */
@import '@ctrl/ngx-emoji-mart/picker';

@import "./app/shared/styles/abstracts/variables";
@import "./app/shared/styles/abstracts/functions";
@import "./app/shared/styles/abstracts/mixins";

@import "./app/shared/styles/base/animations";
@import "./app/shared/styles/base/base";
@import "./app/shared/styles/base/typography";
@import "./app/shared/styles/base/utilities";

@import "./app/shared/styles/components/button";
@import "./app/shared/styles/components/loading";
@import "./app/shared/styles/components/icon";
@import "./app/shared/styles/components/input";
@import "./app/shared/styles/components/tooltip";
@import "./app/shared/styles/components/stepper";
@import "./app/shared/styles/components/radio-group";

html {
  font-size: 62.5%;

  @media only screen and (max-width: 56.25em) {
    font-size: 50%;
  }
  @media only screen and (max-width: 75em) {
    font-size: 56.25%;
  }
  @media only screen and (min-width: 112.5em) {
    font-size: 75%;
  }
}

.mat-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  cursor: pointer;
}



// :root {
//   --color-primary: #0cbc7f;
//   --color-secondary: blue;
//   --color-primary-hover: #08895c;
// }



@tailwind base;
@tailwind components;
@tailwind utilities;