
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Chat-primary: mat.define-palette(mat.$indigo-palette);
$Chat-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Chat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Chat-theme: mat.define-light-theme((
  color: (
    primary: $Chat-primary,
    accent: $Chat-accent,
    warn: $Chat-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Chat-theme);

/* You can add global styles to this file, and also import other style files */
@import '@ctrl/ngx-emoji-mart/picker';
@import "./app/shared/styles/button.scss";
@import "./app/shared/styles/text.scss";
@import "./app/shared/styles/loading.scss";
@import "./app/shared/styles/icon.scss";
@import "./app/shared/styles/variables.scss";
@import "./app/shared/styles/input.scss";
@import "./app/shared/styles/tooltip.scss";
@import "./app/shared/styles/stepper.scss";


html, body { 
  height: 100%; 
}
body { 
  margin: auto; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $color-text;
  background-color: $color-background;
}

.card {
  background-color: $color-card !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 12px 6px;
}

.long-text {
  word-wrap: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
  white-space: normal; /* Allow the text to wrap to new lines */
  word-break: break-word;
}

.mat-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  cursor: pointer;
}

.tooltip {
  white-space: pre-line; 
  display: block; 
  text-align: left;
}

.required {
  color: #f44336;
}


// :root {
//   --color-primary: #0cbc7f;
//   --color-secondary: blue;
//   --color-primary-hover: #08895c;
// }



@tailwind base;
@tailwind components;
@tailwind utilities;