.register {
  &__container {
    max-height: 70%;
    min-height: 70%;

  }

  &__avatar {
    width: 200px;
    height: 200px;

    &__change-avatar {
      right: 20px;
      bottom: 40px
    }
  }
}
