.register-container {
  max-height: 70%;
  min-height: 70%;

  .register-avatar {
    width: 200px;
    height: 200px;

    .register-change-avatar {
      right: 20px;
      bottom: 40px
    }
  }
}
