<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="flex w-1/4">
    <div class="flex-grow bg-white p-8 rounded shadow-md">
      <h1 class="text-2xl font-bold mb-4">ImaTalk</h1>

      <h1 class="text-2xl font-bold mb-4">Create an account</h1>

      <mat-stepper [linear]="true" #stepper>
        <mat-step>
          <form [formGroup]="registerStep1Form">
            <ng-template matStepLabel>Fill out your name</ng-template>
            <div class="mb-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput formControlName="email" placeholder="Email" trimWhiteSpace/>
                <mat-error *ngIf="controlHasError(registerStep1Form, 'required', 'email')">
                  Please enter email
                </mat-error>
              </mat-form-field>
            </div>
    
            <div class="mb-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput type="password" formControlName="password" placeholder="Password" trimWhiteSpace/>
                <mat-error *ngIf="controlHasError(registerStep1Form, 'required', 'password')">
                  Please enter password
                </mat-error>
              </mat-form-field>
            </div>
    
            <div class="mb-4">
              <mat-form-field appearance="outline" class="w-full">
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password" trimWhiteSpace/>
                <mat-error *ngIf="controlHasError(registerStep1Form, 'required', 'password')">
                  Please enter password
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form [formGroup]="registerStep2Form">
            <ng-template matStepLabel>Fill out your address</ng-template>
            <div class="mb-4">
              <mat-form-field appearance="outline">
                <input matInput formControlName="username" placeholder="Username" trimWhiteSpace/>
                <mat-error *ngIf="controlHasError(registerStep2Form, 'required', 'username')">
                  Please enter username
                </mat-error>
              </mat-form-field>
            </div>

            <div class="mb-4">
              <mat-form-field appearance="outline">
                <input matInput formControlName="displayName" placeholder="Display Name" trimWhiteSpace/>
                <mat-error *ngIf="controlHasError(registerStep2Form, 'required', 'username')">
                  Please enter username
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <form [formGroup]="registerStep3Form">
            <ng-template matStepLabel>Done</ng-template>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
              <div class="flex items-center justify-between">
                <button
                  type="btn btn-primary"
                  (click)="onSubmit()"
                >
                  Register
                </button>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-stepper>



      <div class="flex justify-center mt-4">
        <a routerLink="/auth/login" class="text-blue-500"
          >Have an account? Login Now</a
        >
      </div>
    </div>
  </div>
</div>
